body {
    margin: 0;
    font-family: Montserrat;
}

main {
    width: 1045px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #353535;
}

.main_header {
    height: 50px;
}

.main_feed {
    width: 960px;
    height: auto;

    /* margin: 0 auto; */
    padding: 15px;

    background-color: #F7F7F7;
}

.feed_element {
    width: 550px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.up_button {
    width: 40px;
    height: 40px;

    position: -webkit-sticky;
    position: sticky;
    top: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.up_button:hover {
    background-color: #E8E8E8;
}

.refresh_button {
    height: 30px;

    margin-left: 205px;
    padding: 6px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;

    outline: none;
    border: none;
}

.refresh_button:hover {
    background-color: #E8E8E8;
}

.new_posts_count {
    width: 35px;
    height: 18px;

    margin: 0 0 0 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    background: #000000;
    border-radius: 20px;
}

.post {
    height: auto;
    margin-top: 15px;

    display: flex;
    padding-left: 205px;
}

.post_open_comment {
    padding-left: 0;
}

.post_wrapper {
    height: auto;

    border-radius: 5px 5px 0px 0px;
    border-bottom: 4px solid #000000;
}

.post_author {
    padding: 15px 15px 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.author_avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.author_name {
    margin-left: 10px;
}

.post_content {
    /* height: auto; */
    padding: 15px;
}

.post_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    margin: 0 0 15px;
}

.post_image {
    width: 100%;
    /* height: 0; */

    /* background-image: url(../img/test.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */

    /* padding-top: 77%; */
}

.post_action_block {
    width: 46px;

    margin-left: 15px;

    background-color: #E8E8E8;
    border-radius: 5px;
}

.action_move_block {
    width: auto;
    height: 111px;

    padding-top: 14px;
    padding-bottom: 14px;

    top: 10px;

    position: -webkit-sticky;
    position: sticky;

    background-color: #FFFFFF;
    border-radius: 5px;
}

.action_button {
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;

    padding: 3.5px 0 0;
    margin: 0 auto;

    background-color: #fff;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.action_button:focus {
    outline: none;
    /* box-shadow: 0 0 0 2pt #F4F4F4; */
}

.action_button:hover {
    background-color: #F4F4F4;
}

.rating {
    width: 34px;
    height: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    margin: 7px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
}

.comment_btn {
    margin-top: 7px;
}

.post_commentary {
    width: 304px;
    height: auto;

    padding: 15px 15px 15px;
    margin-left: 15px;

    border-radius: 5px 5px 0px 0px;
    border-bottom: 4px solid #000000;
}

.comment_input {
    width: 304px;
    height: 33px;

    margin-bottom: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    padding: 0 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
}

.comment_input::placeholder {
    color: #C6C6C6;
}

.comment_wrapper {
    height: auto;

    /* overflow-y: scroll; */
}

.comment {
    display: flex;
    flex-direction: left;

    margin-bottom: 15px;
}

.comment_author_avatar {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.comment_content {
    width: 219px;

    font-style: normal;
    display: flex;
    align-items: center;

    color: #000000;

    display: block;

    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #686868;
}

.comment_name {
    margin: 0 0;

    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #353535;
}

.comment_text {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    margin: 5px 0 5px;
}

.comment_time {
    margin: 0 0;

    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #C0C0C0;
}